@{
    Layout = null;
    }

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список полученных заказов инвентаря</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Список полученных заказов инвентаря", "Index1", "Engineer")</li>
                <li>@Html.ActionLink("Возврат инвентаря", "Index2", "Engineer")</li>
            </ul>
            <form class="navbar-form navbar-right" role="form" method="get" action="/Account/LogOff">
                <button type="submit" class="btn btn-success">Выйти</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Выдача инвентаря и назначение ответственного</h2><br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th rowspan="2" class="text-center">Номер заказа</th>
                    <th rowspan="2" class="text-center">Описание</th>
                    <th rowspan="2" class="text-center">Ответственный</th>
                    <th colspan="2" class="text-center">Инвентарь</th>
                    <th rowspan="2" class="text-center">Дата</th>
                </tr>
                <tr>
                    <th class="text-center">Название</th>
                    <th class="text-center">Количество</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>1</td>
                    <td>Описание заказа</td>
                    <td>Иванов</td>
                    <td>Рубанок</td>
                    <td>2</td>
                    <td>Дата1</td>
                </tr>

                <tr>
                    <td rowspan="2">2</td>
                    <td rowspan="2">Описание заказа 2</td>
                    <td rowspan="2">Иванов</td>
                    <td>Ножницы</td>
                    <td>5</td>
                    <td rowspan="2">Дата</td>
                </tr>
                <tr>
                    <td>Напильник</td>
                    <td>10</td>
                </tr>

                <tr>
                    <td rowspan="3">3</td>
                    <td rowspan="3">Описание заказа 33</td>
                    <td rowspan="3">Иванов</td>
                    <td>Ножницы</td>
                    <td>15</td>
                    <td rowspan="3">Дата</td>
                </tr>
                <tr>
                    <td>Пила</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Лопата</td>
                    <td>10</td>
                </tr>


                @*                @{*@
                @*                    foreach (var order in Model)*@
                @*                    {*@
                @*                        <tr>*@
                @*                            <td>@order.Id</td>*@
                @*                            <td>@order.Text</td>*@
                @*                            @{*@
                @*                                if (order.Employee == null)*@
                @*                                {*@
                @*                                    <td>Не назначен</td>*@
                @*                                }*@
                @*                                else*@
                @*                                {*@
                @*                                    {*@
                @*                                        <td>@order.Employee.Name</td>*@
                @*                                    }*@
                @*                                }*@
                @*                            }*@
                @**@
                @*                            <td>@order.Status.Name</td>*@
                @*                        </tr>*@
                @*                    }*@
                @*                }*@

                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="container body-content">
    <hr />
    <footer>
        <p class="text-center">
            <a href="#">Наверх</a>
        </p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>
