@{
    Layout = null;
}
@model AccountingSite.Models.Item

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление инвентарем. Редактирование</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Список возвратов инвентаря", "ListReturnItem", "Manager")</li>
                <li>@Html.ActionLink("Заказы инвентаря", "SendItem", "Manager")</li>
                <li>@Html.ActionLink("Управление инвентарем", "Index", "Items")</li>
            </ul>
            <form class="navbar-form navbar-right" role="form" method="get" action="/Account/LogOff">
                <button type="submit" class="btn btn-success">Выйти</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Редактирование</h2><br>
            <form role="form" method="post" action="">
                <div class="form-horizontal">
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Название
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Количество
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Count, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Count, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Сохранить</button>
                        </div>
                    </div>
                </div>
                <hr>
            </form>

        </div>
    </div>

</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>