@{
    Layout = null;
}
@model IEnumerable<AccountingSite.Models.Item>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление инвентарем</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Список возвратов инвентаря", "ListReturnItem", "Manager")</li>
                <li>@Html.ActionLink("Заказы инвентаря", "SendItem", "Manager")</li>
                <li class="active">@Html.ActionLink("Управление инвентарем", "Index", "Items")</li>
            </ul>
            <form class="navbar-form navbar-right" role="form" method="get" action="/Account/LogOff">
                <button type="submit" class="btn btn-success">Выйти</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Управление инвентарем</h2><br>

            <p>
                @Html.ActionLink("Создать новый", "Create")
            </p>

            <table class="table">
                <tr>
                    <th>Название</th>
                    <th>Количество</th>
                    <th></th>
                </tr>

                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td>
                            @Html.ActionLink("Редактирование", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Удаление", "Delete", new { id=item.Id })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>

</div>

<div class="container body-content">
    <hr/>
    <footer>
        <p class="text-center">
            <a href="#">Наверх</a>
        </p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>



