
@{
    ViewBag.Title = "SendItem";
    if (ViewBag.Message == "Нет данного количества")
    {
        <script>
            alert("@ViewBag.Message");
        </script>
    }
    if (ViewBag.Message == "Успешно")
    {
        <script>
            alert("@ViewBag.Message");
        </script>
    }
}

@{
    Layout = null;
}
@model IEnumerable<AccountingSite.Models.Order>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы инвентаря</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Список возвратов инвентаря", "ListReturnItem", "Manager")</li>
                <li class="active">@Html.ActionLink("Заказы инвентаря", "SendItem", "Manager")</li>
                <li>@Html.ActionLink("Управление инвентарем", "Index", "Items")</li>
            </ul>
            <form class="navbar-form navbar-right" role="form" method="get" action="/Account/LogOff">
                <button type="submit" class="btn btn-success">Выйти</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Заказы инвентаря</h2><br>


            <table class="table table-bordered">

                <thead>
                <tr>
                    <th rowspan="2" class="text-center">Номер заказа</th>
                    <th rowspan="2" class="text-center">Описание</th>
                    <th colspan="2" class="text-center">Инвентарь</th>
                    <th rowspan="2" class="text-center">От кого</th>
                    <th rowspan="2" class="text-center">Кому</th>
                    <th rowspan="2" class="text-center">Дата</th>
                    <th rowspan="2"></th>
                </tr>
                <tr>
                    <th class="text-center">Название</th>
                    <th class="text-center">Количество</th>
                </tr>
                </thead>

                <tbody>

                @{
                    foreach (var order in Model)
                    {
                        <tr>
                            <td rowspan="@order.ItemTransactions.Count">@order.Id</td>
                            <td rowspan="@order.ItemTransactions.Count">@order.Text</td>
                            <td>@order.ItemTransactions.First().Name</td>
                            <td>@order.ItemTransactions.First().Count</td>

                            <td rowspan="@order.ItemTransactions.Count">@order.From.Name</td>
                            @*тут нужно статус на кому поменять*@
                            <td rowspan="@order.ItemTransactions.Count">@order.To.Name</td>
                            <td rowspan="@order.ItemTransactions.Count">@order.Date</td>

                            @*а тут действие для кнопочек*@
                            <td rowspan="@order.ItemTransactions.Count">
                                <form class="text-center" role="form" method="post" action="/Manager/SendItem/@order.Id" >
                                    <button type="submit" class="btn btn-success" name="permission" value="true" >Отправить</button>
                                </form>
                                <br>
                                <form class="text-center" role="form" method="post" action="/Manager/SendItem/@order.Id" >
                                    <button type="submit" class="btn btn-success" name="permission" value="false">Отказать</button>
                                </form>
                            </td>

                        </tr>
                        foreach (var item in order.ItemTransactions.Skip(1))
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Count</td>
                            </tr>
                        }
                    }
                }

                </tbody>

            </table>
        </div>
    </div>

</div>

<div class="container body-content">
    <hr/>
    <footer>
        <p class="text-center">
            <a href="#">Наверх</a>
        </p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>

